@import '../../../../settings/Settings';

.GenericImageToolkit {
  align-self: stretch;
  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  
  .Content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 280px;
    color: white;

    Button {
      margin-top: 6px;
      margin-bottom: 3px;
      width: 280px;
    }
  
    .title {
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 3px;
    }  
    
    .endpoint {
      margin-top: 10px;
      margin-bottom: 3px;
    }  

    input {
      margin-top: 6px;
      margin-bottom: 3px;
      height: 30px;
    }
  }
}