[submodule "sagemaker/stable-diffusion-webui/stable-diffusion-webui"]
	path = sagemaker/stable-diffusion-webui/stable-diffusion-webui
	url = https://github.com/xieyongliang/stable-diffusion-webui.git
