@import '../../../settings/Settings';

.ContentWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .DropdownLabel {
    position: relative;
    font-size: 13px;
    cursor: pointer;
    user-select: none;
    min-width: 280px;
    height: 30px;
    padding: 0 5px;
    color: black;
    background-color: white;
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
  
    &:hover {
      background-color: rgba(255, 255, 255, 0.95);
  
      &::after {
        background-color: $secondaryColor; // fallback if new css variables are not supported by browser
        background-color: var(--leading-color);
      }
    }
  
    &::after {
      background: $darkThemeThirdColor;
      width: 100%;
      position: absolute;
      bottom: 0;
      height: 1px;    // <- adjust
      left: 0;
      z-index: 100;
      display: block;
      content: "";
    }
  }
  
  .Dropdown {
    position: fixed;
    z-index: 1000;
    background-color: $whiteThemeFirstColor;
  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  
    .DropdownOption {
      align-self: stretch;
  
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: flex-start;
  
      font-size: 13px;
      cursor: pointer;
      user-select: none;
      color: black;
      margin-left: 5px;
      margin-top: -8px;
  
      &:hover {
        background-color: #EBECF0;
      }
    }
  }