@import '../../../../settings/Settings';

.RanksToolkit {
  align-self: stretch;
  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;

  .Content {
    align-self: stretch;
    box-sizing: border-box;
    height: 0;
    transition: height 0.3s ease-in-out;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
