@import '../../../../settings/Settings';

.GenericImageList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  .GenericImageListContent {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
}

.Command {
  color: white;

  Button {
    margin-top: 6px;
    margin-bottom: 3px;
    width: 280px;
  }

  div {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  input {
    margin-top: 6px;
    margin-bottom: 3px;
    width: 280px;
  }
}
